* {
	margin: 0;
	padding: 0;
}

body {
    background: #fff;
}

@font-face {
    font-family: 'Gothic';
    src: url('gothic.ttf') format('truetype');
}

.header {
	width: 100%;
	height: 48px;
	background: #000;
	border-radius: 0px 0px 20px 20px;
}

.container {
	dsplay: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
	background: #000;
	color: #fff;
	border-radius: 20px 20px 10px 10px;
	height: 300px;
}

.item hr {
	color: #fff;
}

.gothic {
	font-family: "Gothic";
	color: #fff;
	font-size: 32px;
}
