* {
	margin: 0;
	padding: 0;
}

body {
    background: #fff;
}

@font-face {
    font-family: 'Gothic';
    src: url('gothic.ttf') format('truetype');
}

.header {
	width: 100%;
	height: 32px;
	background: #000;
	border-radius: 0px 0px 20px 20px;
}

.gothic {
	font-family: "Gothic";
	color: #fff;
	font-size: 32px;
}
